.navigation {
 &__checkbox {
  display: none;
 }

 &__button {
  background-color: $color-white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba($color-black, .1);
 }

 &__background {
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  background-image: radial-gradient($color-primary-light,
   $color-primary-dark,
   );

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;

  // transform: scale(80);
 }

 &__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;

  opacity: 0;
  width: 0;
 }

 &__list {
  position: absolute;
  top: 50%;
  left: 50%;
  list-style: none;
  text-align: center;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 }

 &__item {
  margin: 1rem;
 }

 &__link {

  &:link,
  &:visited {
   display: inline-block;
   font-size: 3rem;
   font-weight: 100;
   padding: 1rem 2rem;
   color: $color-white;
   text-decoration: none;
   text-transform: uppercase;
   background-image: linear-gradient(120deg, transparent 0%,
    transparent 50%,
    $color-white 50%,
    );
   background-size: 220%;
   -webkit-transition: all .4s;
   -moz-transition: all .4s;
   -ms-transition: all .4s;
   -o-transition: all .4s;
   transition: all .4s;

   span {
    margin-right: 1.5rem;
    display: inline-block;
   }
  }

  &:hover,
  &:active {
   background-position: 100%;
   color: $color-primary;
   transform: translateX(1rem);
   -webkit-transform: translateX(1rem);
   -moz-transform: translateX(1rem);
   -ms-transform: translateX(1rem);
   -o-transform: translateX(1rem);
  }
 }

 &__checkbox:checked ~ &__background {
  -webkit-transform: scale(80);
  -moz-transform: scale(80);
  -ms-transform: scale(80);
  -o-transform: scale(80);
  transform: scale(80);
 }

 &__checkbox:checked ~ &__nav {
   opacity: 1;
   width: 100%;
 }
}
